.DS_Store
*/.DS_Store
.Rhistory
*/.Rhistory

*.py[cod]
*.so
*.egg
*.egg-info
node_modules
_book
*/*.py[cod]
*/*.so
*/*.egg
*/*.egg-info
# eBook build output
*.epub
*.mobi
*.pdf



__pycache__
*/__pycache__
